@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

html {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: snow;
}

body {
  margin: 0;
}

h1 {
  color: rgb(233, 59, 59);
  font-size: 1.5rem;
  text-align: left;
}

h2 {
  color: black;
  font-size: 1.5 rem;
  text-align: center;
}

h3 {
  color: black;
  font-size: large;
}

h4 {
  color: red;
  font-size: small;
}

/* p {
  font-size: small;
} */

nav {
  color: black;
  font-size: small;
  text-align: right;
}

.div-bg {
  background-color: lightgray;
  margin: 20px;
  /* display: block; */
}

/* .div-format {
  display: inline;
} */

.img-bg {
  background-color: white;
  /* border: 3px; */
  padding: 5px;
  width: 350px;
  height: 450px;
  margin: 15px;
  display: inline-block;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.img-search {
  width: 20px;
  height: 20px;
}

.she-he-codes {
  color: lightgrey;
}
